<section class="stn-content">
  <div class="container">
    <header>
      <h2 class="stn-heading">
        Varaukset ja tiedustelut
      </h2>
    </header>
    <div class="btns-set">
      <a href="tel:358407075783" class="btn btn__blue">
        <i class="fa fa-phone"></i>
        +358 40 707 5783
      </a>
      <a href="mailto:some@gmail.com" class="btn btn__green">
        <i class="fa fa-send"></i>
        Laheta viesti
      </a>
    </div>
    <p>
      <i class="fa fa-map-marker"></i>
      Markkulanraitti 24, 42520 Asunta
    </p>
    <p><a href="">Katso sijainti kartalla »</a></p>
  </div>
</section>