$green: #82b415;
$blue: #3b8fb0;

.villas-wrapper {
	text-align: center;
	margin-top: 40px;
}

.stn-main-bg {
	background-image: url('/assets/image/main-stn-bg.jpg');
	overflow: hidden;
	p {
		text-align: left;
	}
}

.stn-main-bg {
	position: relative;
	z-index: 10;
	color: #fff;
	overflow: hidden;
	.img-left {
		position: absolute;
		bottom: -140px;
	}
	.img-description 
	{
		margin-top: 40px;
		margin-left: 180px;
		p:not(.title) {
			font-size: 1em;
			line-height: 1.25;
		}
	}
	p a {
		color: $green;
	}
}

.stn-main-bg-heading {
	color: #fff;
	text-align: left;
}

@media only screen and (max-width: 479px) {
	.stn-main-bg {
		.img-description {
			margin-left: 135px;
		}
		.img-left {
			bottom: -120px;
			img {
				max-width: 80%;
			}
		}
	}
}














