<section class="stn-content stn-quote">
	<div class="container">
		<header>
	  		<h2 class="stn-heading">
	  			Vieraskirjasta lainattua:
	  		</h2>
		</header>
		<div class="row">
			<div class="col-md-18 col-md-offset-3">
				<blockquote>
		  			"Mukava viikko takana täällä huippumökillä. Lämmintä on tänä kesänä riittänyt mökkiviikolle. Vesi on ollut +23 C, eli onpahan tullut uitua monta kertaa päivässä. On käyty myös kokeilemassa uutta frisbeegolfrataa. Ensi kesänä taas uudelleen."
		  		</blockquote>
		  		<p>
		  			<a href="#">
		  				Lue lisää asiakkaiden kokemuksia  »
		  			</a>
		  		</p>
			</div>
		</div>
	</div>
</section>