
$green: #82b415;
$blue: #3b8fb0;
$red: #f07884;

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    line-height: 1.5;
  }
  p {
    margin: 0;
  }
  .of-hidden {
    overflow: hidden;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn {
    font-style: italic;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 0;
  }
  hr {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }
  /*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      text-shadow: none !important;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
    .navbar {
      display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
      border-top-color: #000 !important;
    }
    .label {
      border: 1px solid #000;
    }
    .table {
      border-collapse: collapse !important;
    }
    .table td,
    .table th {
      background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ddd !important;
    }
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
  }
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  a {
    color: #3b8fb0;
    text-decoration: none;
  }
  figure {
    margin: 0;
  }
  img {
    vertical-align: middle;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .img-rounded {
    border-radius: 6px;
  }
  .img-circle {
    border-radius: 50%;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  [role="button"] {
    cursor: pointer;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: 768px) {
    .container {
      width: 730px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 950px;
    }
  }
  @media (min-width: 1140px) {
    .container {
      width: 1092px;
    }
  }
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
    float: left;
  }
  .col-xs-24 {
    width: 100%;
  }
  .col-xs-23 {
    width: 95.83333333%;
  }
  .col-xs-22 {
    width: 91.66666667%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-20 {
    width: 83.33333333%;
  }
  .col-xs-19 {
    width: 79.16666667%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-17 {
    width: 70.83333333%;
  }
  .col-xs-16 {
    width: 66.66666667%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-14 {
    width: 58.33333333%;
  }
  .col-xs-13 {
    width: 54.16666667%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-11 {
    width: 45.83333333%;
  }
  .col-xs-10 {
    width: 41.66666667%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-8 {
    width: 33.33333333%;
  }
  .col-xs-7 {
    width: 29.16666667%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-5 {
    width: 20.83333333%;
  }
  .col-xs-4 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-2 {
    width: 8.33333333%;
  }
  .col-xs-1 {
    width: 4.16666667%;
  }
  .col-xs-offset-10 {
  margin-left: 41.66666667%;
}
.col-xs-offset-9 {
  margin-left: 37.5%;
}
.col-xs-offset-8 {
  margin-left: 33.33333333%;
}
.col-xs-offset-7 {
  margin-left: 29.16666667%;
}
.col-xs-offset-6 {
  margin-left: 25%;
}
.col-xs-offset-5 {
  margin-left: 20.83333333%;
}
.col-xs-offset-4 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 12.5%;
}
.col-xs-offset-2 {
  margin-left: 8.33333333%;
}
.col-xs-offset-1 {
  margin-left: 4.16666667%;
}
  @media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
      float: left;
    }
    .col-sm-24 {
      width: 100%;
    }
    .col-sm-23 {
      width: 95.83333333%;
    }
    .col-sm-22 {
      width: 91.66666667%;
    }
    .col-sm-21 {
      width: 87.5%;
    }
    .col-sm-20 {
      width: 83.33333333%;
    }
    .col-sm-19 {
      width: 79.16666667%;
    }
    .col-sm-18 {
      width: 75%;
    }
    .col-sm-17 {
      width: 70.83333333%;
    }
    .col-sm-16 {
      width: 66.66666667%;
    }
    .col-sm-15 {
      width: 62.5%;
    }
    .col-sm-14 {
      width: 58.33333333%;
    }
    .col-sm-13 {
      width: 54.16666667%;
    }
    .col-sm-12 {
      width: 50%;
    }
    .col-sm-11 {
      width: 45.83333333%;
    }
    .col-sm-10 {
      width: 41.66666667%;
    }
    .col-sm-9 {
      width: 37.5%;
    }
    .col-sm-8 {
      width: 33.33333333%;
    }
    .col-sm-7 {
      width: 29.16666667%;
    }
    .col-sm-6 {
      width: 25%;
    }
    .col-sm-5 {
      width: 20.83333333%;
    }
    .col-sm-4 {
      width: 16.66666667%;
    }
    .col-sm-3 {
      width: 12.5%;
    }
    .col-sm-2 {
      width: 8.33333333%;
    }
    .col-sm-1 {
      width: 4.16666667%;
    }
    .col-sm-offset-10 {
    margin-left: 41.66666667%;
    }
    .col-sm-offset-9 {
      margin-left: 37.5%;
    }
    .col-sm-offset-8 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-7 {
      margin-left: 29.16666667%;
    }
    .col-sm-offset-6 {
      margin-left: 25%;
    }
    .col-sm-offset-5 {
      margin-left: 20.83333333%;
    }
    .col-sm-offset-4 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-3 {
      margin-left: 12.5%;
    }
    .col-sm-offset-2 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-1 {
      margin-left: 4.16666667%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
      float: left;
    }
    .col-md-24 {
      width: 100%;
    }
    .col-md-23 {
      width: 95.83333333%;
    }
    .col-md-22 {
      width: 91.66666667%;
    }
    .col-md-21 {
      width: 87.5%;
    }
    .col-md-20 {
      width: 83.33333333%;
    }
    .col-md-19 {
      width: 79.16666667%;
    }
    .col-md-18 {
      width: 75%;
    }
    .col-md-17 {
      width: 70.83333333%;
    }
    .col-md-16 {
      width: 66.66666667%;
    }
    .col-md-15 {
      width: 62.5%;
    }
    .col-md-14 {
      width: 58.33333333%;
    }
    .col-md-13 {
      width: 54.16666667%;
    }
    .col-md-12 {
      width: 50%;
    }
    .col-md-11 {
      width: 45.83333333%;
    }
    .col-md-10 {
      width: 41.66666667%;
    }
    .col-md-9 {
      width: 37.5%;
    }
    .col-md-8 {
      width: 33.33333333%;
    }
    .col-md-7 {
      width: 29.16666667%;
    }
    .col-md-6 {
      width: 25%;
    }
    .col-md-5 {
      width: 20.83333333%;
    }
    .col-md-4 {
      width: 16.66666667%;
    }
    .col-md-3 {
      width: 12.5%;
    }
    .col-md-2 {
      width: 8.33333333%;
    }
    .col-md-1 {
      width: 4.16666667%;
    }
    .col-md-offset-16 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-15 {
      margin-left: 62.5%;
    }
    .col-md-offset-14 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-13 {
      margin-left: 54.16666667%;
    }
    .col-md-offset-12 {
      margin-left: 50%;
    }
    .col-md-offset-11 {
      margin-left: 45.83333333%;
    }
    .col-md-offset-10 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-9 {
      margin-left: 37.5%;
    }
    .col-md-offset-8 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-7 {
      margin-left: 29.16666667%;
    }
    .col-md-offset-6 {
      margin-left: 25%;
    }
    .col-md-offset-5 {
      margin-left: 20.83333333%;
    }
    .col-md-offset-4 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-3 {
      margin-left: 12.5%;
    }
    .col-md-offset-2 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-1 {
      margin-left: 4.16666667%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
  }
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
  }
  .fade.in {
    opacity: 1;
  }
  .collapse {
    display: none;
  }
  .collapse.in {
    display: block;
  }
  tr.collapse.in {
    display: table-row;
  }
  tbody.collapse.in {
    display: table-row-group;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
       transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
       transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
       transition-timing-function: ease;
  }
  .clearfix:before,
  .clearfix:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .invisible {
    visibility: hidden;
  }
  .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .hidden {
    display: none !important;
  }
  .affix {
    position: fixed;
  }
  @-ms-viewport {
    width: device-width;
  }


@font-face{
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../../node_modules/source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
       url('../../node_modules/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
       url('../../node_modules/source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
       url('../../node_modules/source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Source Sans Pro', arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	src: url('../../node_modules/source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
		 url('../../node_modules/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
		 url('../../node_modules/source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
		 url('../../node_modules/source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
  }

.stn-content {
	padding-top: 40px;
	padding-bottom: 50px;
	background-size: cover;
	blockquote {
		text-align: center;
	}
	p {
		margin-top: 10px;
		font-size: 1.125em;
		text-align: center;
		a {
			font-family: 'Source Sans Pro', arial, sans-serif;
			font-weight: bold;
			color: $blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.stn-heading {
    color: $green;
    font-size: 2.25em;
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

.stn-main-heading {
	font-size: 3.125em;
	line-height: 1.25;
}

.p3 {
	padding-left: 3px;
	padding-right: 3px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.circled-thumb {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.btns-set {
	text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    .btn {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.btn {
	display: inline-block;
	padding: 13px 20px;
	width: 300px;
	border-radius: 5px;
	font-size: 1.375em;
    color: #fff;
    text-align: center;
    &.dif-width {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
	}
	&.btn-block {
		width: 100%!important;
	}
}
.btn__blue {
	background-color: $red;
	&:hover {
		background-color: darken($red, 5%);
	}
}

.btn__blue {
	background-color: $blue;
	&:hover {
		background-color: darken($blue, 5%);
	}
}
.btn__green {
	background-color: $green;
	&:hover {
		background-color: darken($green, 5%);
	}

}

.no-pb {
	padding-bottom: 0;
}
p.title {
	font-weight: bold;
}

button {
	border: 0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #3f3f3f;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}


@media only screen and (max-width: 991px) {
	body {
		font-size: 14px;
	}
}
@media only screen and (max-width: 767px) {
	body {
		font-size: 12px;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.btns-set {
		.btn {
			display: block;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
		}
	}
}
@media only screen and (max-width: 479px) {
	[class*="col-xs-"] {
		width: 100%;
		margin: 0;
	}
	.stn-heading {
		font-size: 1.75em;
	}
	.stn-main-heading {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 399px) {
	.btns-set {
		.btn {
			width: 100%;
		}
	}
}



