<section class="stn-content pt30">
	<div class="container">
		<header>
			<h1 class="stn-heading stn-main-heading">
				Huvilat
			</h1>
		</header>
		<div class="row">
			<div class="col-md-14 col-md-offset-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt quasi, ducimus sequi dignissimos magni.
				</p>
			</div>
		</div>
		<div class="villas-list row">
			<app-villas-description></app-villas-description>
		</div>
	</div>
</section>
<section class="stn-content no-pb">
	<img src="assets/image/inner-stn-bg-xl.jpg" srcset="assets/image/inner-stn-bg-l.jpg 1024w,assets/image/inner-stn-bg-xl.jpg 1280w, assets/image/inner-stn-bg-m.jpg 768w, assets/image/inner-stn-bg-s.jpg 320w" alt="">
</section>
<app-map-wrapper></app-map-wrapper>
<app-contact-section></app-contact-section>
<app-quote-section></app-quote-section>