<section class="stn-content pt30">
	<div class="container">
		<header>
			<h1 class="stn-heading stn-main-heading">
				Huvilat
			</h1>
		</header>
		<div class="row">
			<div class="col-md-14 col-md-offset-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt quasi, ducimus sequi dignissimos magni.
				</p>
			</div>
		</div>
		<div class="villas-list row">
			<div class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-6 col-xs-14 col-xs-offset-5">
				<div class="villa-item">
					<div class="villa-title stn-heading">
						Villa Kukkula
					</div>
					<div class="img-wrapper">
						<img src="assets/image/main-content-item.jpg" alt="">
					</div>
					<div class="villa-info">
						<div class="villa-specs">
							<div class="villa-signs">
								<span class="villa-sign-item">
									<i class="fa fa-male"></i>
									8 hlo
								</span>
							</div>
							<div class="additional-info">
								134,5 m² (3 h + tupakeittiö)
							</div>
						</div>
						<div class="villa-descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda in quam eius impedit, consequatur accusantium ipsum repudiandae maxime quibusdam hic debitis repellat perspiciatis corporis nihil adipisci perferendis, doloremque tempore facere.
						</div>
					</div>
					<button class="btn btn__blue dif-width" (click)="openDetails(0)">
						Lisatiedot ja -kuvat
					</button>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-6 col-xs-14 col-xs-offset-5">
				<div class="villa-item">
					<div class="villa-title stn-heading stn-heading__blue">
						Villa Kantri
					</div>
					<div class="img-wrapper">
						<img src="assets/image/main-content-item.jpg" alt="">
					</div>
					<div class="villa-info">
						<div class="villa-specs">
							<div class="villa-signs">
								<span class="villa-sign-item">
									<i class="fa fa-male"></i>
									8 hlo
								</span>
								<span class="villa-signs-item">
									<i class="fa fa-paw"></i>
								</span>
								<span class="villa-signs-item">
									<i class="fa fa-wheelchair"></i>
								</span>
							</div>
							<div class="additional-info">
								134,5 m² (3 h + tupakeittiö)
							</div>
						</div>
						<div class="villa-descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda in quam eius impedit, consequatur accusantium ipsum repudiandae maxime quibusdam hic debitis repellat perspiciatis corporis nihil adipisci perferendis, doloremque tempore facere.
						</div>
					</div>
					<button class="btn btn__blue dif-width" (click)="openDetails(1)">
						Lisatiedot ja -kuvat
					</button>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-6 col-xs-14 col-xs-offset-5">
				<div class="villa-item">
					<div class="villa-title stn-heading stn-heading__red">
						Villa Akuliina
					</div>
					<div class="img-wrapper">
						<img src="assets/image/main-content-item.jpg" alt="">
					</div>
					<div class="villa-info">
						<div class="villa-specs">
							<div class="villa-signs">
								<span class="villa-sign-item">
									<i class="fa fa-male"></i>
									6+2 hlo
								</span>
								<span class="villa-signs-item">
									<i class="fa fa-paw"></i>
								</span>
							</div>
							<div class="additional-info">
								107 m²  (4 h + tupakeittiö)<br>
								+ rantasauna 25 m²
							</div>
						</div>
						<div class="villa-descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda in quam eius impedit, consequatur accusantium ipsum repudiandae maxime quibusdam hic debitis repellat perspiciatis corporis nihil
						</div>
					</div>
					<button class="btn btn__blue dif-width" (click)="openDetails(2)">
						Lisatiedot ja -kuvat
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="stn-content no-pb">
	<img src="assets/image/inner-stn-bg-xl.jpg" srcset="assets/image/inner-stn-bg-l.jpg 1024w,assets/image/inner-stn-bg-xl.jpg 1280w, assets/image/inner-stn-bg-m.jpg 768w, assets/image/inner-stn-bg-s.jpg 320w" alt="">
</section>
<app-map-wrapper></app-map-wrapper>
<app-contact-section></app-contact-section>
<app-quote-section></app-quote-section>